---
---

@import "{{ site.theme }}";

#forkme_banner {
  position: fixed;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

header h2#project_tagline {
  margin-top: 0;
}

#nameplate {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nameplate img {
  width: 100px;
  max-width: 20%;
  border-radius: 50%;
}

footer p.copyright {
  margin-bottom: 0;
}

footer p.publisher {
  margin-top: 0;
}
